$primary-color: #ccc;
$secondary-color: #fff;

#canvas-container {
  background-color: $primary-color;
}

#tools-container {
  width: 100%;
}

#stats-container {
  position: absolute;
  right: 0px;
  bottom: 0px;
}