$color-one: #000;
$color-two: #555;
$color-three: #888;
$hover-color: #a5a5a5;

$button-size: 40px;
$button-margin: 2px;

$breakpoint: 600px;

@mixin button-placement() {
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  width: $button-size;
  height: $button-size;
  display: inline-block;
}

@mixin toolbar-button() {
  background-color: $color-three;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 1px solid $color-one;
  margin: $button-margin;
}
@mixin toolbar-button-hover() {
  background-color: $hover-color;
  cursor: pointer;
}
#app-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  overflow: hidden;
}

#canvas-container {
  background-color: $color-one;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
}

#tools-container {
  position: absolute;
  top: 0px;
  /*left: -100%;*/
  -webkit-transition:
  -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
  transform: translateX(-100%);
  height: 100%;
  background-color: $color-two;
  @media screen and (min-width: $breakpoint) {
    width: 100%;
    height: auto;
    transform: translateX(0%);
  }
}
#tools-container.open {
  width: auto;
  transform: translateX(0%);
}

#stats-container {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
#geo-button-container {
  display: inline-block;
}
.geobutton {
  @include button-placement();
  @include toolbar-button();
  /*
  background-color: $color-two;
  background-size: cover;
  width: $button-size;
  height: $button-size;
  display: inline-block;
  */
}
.geobutton:hover {
  @include toolbar-button-hover();
}
#shader-select {
  display: block;
  @media screen and (min-width: $breakpoint) {
    display: inline-block;
  }
}
#flyout-button {
  @include button-placement();
  background-color: $color-two;
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  right: -50px;

  @media screen and (min-width: $breakpoint) {
    display: none;
  }
}
#flyout-button:hover {
  @include toolbar-button-hover();
 }
 #flyout-arrow {
   width: 0;
   height: 0;
   border-top: 12px solid transparent;
   border-bottom: 12px solid transparent;
   border-left: 21px solid $color-one;
   position: relative;
   margin: auto;
   margin-top: 12px;
 }
 #tools-container.open #flyout-arrow  {
   transform: rotate(180deg);
 }
